.youtube-logo {
	display: inline-block;
	vertical-align: middle;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflA7KI54.webp) -432px -193px;
	background-size: auto;
	width: 72px;
	height: 30px;
}
a {
  font-size: 13px;
}
.tituloCabecalho {
	text-align: right;
	color: white;
	font-size: 19px;
}
header {
	background: #008CBA;
	clear:both;
	padding: 1px 0 0px;
}