.youtube-logo{
	display: inline-block;
	vertical-align: middle;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflA7KI54.webp) -432px -193px;
	background-size: auto;
	width: 72px;
	height: 30px;
}