<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WannaWatch | Resultado</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/application/resultado.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <header>
        <h1 class="tituloCabecalho">WannaWatch :)</h1>
    </header>

    <div class="row">
        <div id="videosYouTube" class="small-4 large-6 columns">
            {% include 'include/videosYoutube.twig' %}
        </div>

        <div class="small-4 large-6 columns">
            <p style="height:29px">
                <a href="http://www.vimeo.com" target="_blank">
                    <img src="https://f.vimeocdn.com/logo.svg">
                </a>
            </p>

            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-2">
                {% for videoVimeo in videosVimeo %}
                <li>
                    <a class="th" href="{{ videoVimeo.link }}">
                        <img src="{{ videoVimeo.urlThumbNail }}">
                    </a>
                    <a href="{{ videoVimeo.link }}">
                        {{ cortarString(videoVimeo.titulo, 28) }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/application/paginacao.js"></script>
    <script>
      $(document).foundation();
      $("#formDanillo").on('invalid.fndtn.abide', function (e) {
          var invalid_fields = $(this).find('[data-invalid]');
          console.log(invalid_fields);
      })
        .on('valid.fndtn.abide', function (e) {
            console.log(e);
        });
    </script>
  </body>
</html>
